<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click)="toggleMenu()" [ngClass]="menuOpened === true ? 'selected' : ''">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="app-collapse" [ngClass]="menuOpened === true ? 'in' : ''">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/demo/emotion-recognition']" routerLinkActive="active">Emotion</a>
          </li>
          <li>
            <a [routerLink]="['/demo/face-detection']" routerLinkActive="active">Face Detection</a>
          </li>
          <li>
            <a [routerLink]="['/demo/face-verification']" routerLinkActive="active">Face Verification</a>
          </li>
          <li>
            <a [routerLink]="['/demo/analyze-image']" routerLinkActive="active">Image Analysis</a>
          </li>
          <li>
            <a [routerLink]="['/demo/read-text']" routerLinkActive="active">Text Recognition</a>
          </li>
          <li>
            <a [routerLink]="['/demo/analyze-text']" routerLinkActive="active">Text Analysis</a>
          </li>
          <li>
            <a [routerLink]="['/demo/text-to-speech']" routerLinkActive="active">Text to Speech</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
